.main_body{
    background-color: blueviolet;
}

.search{
    margin-left: 100%;
}
.headerinner{
    width: 40%;
}
.dashboard{
    width:95%;
    background-color: white;
    margin: auto;
}
.topbar{
    display: flex;
}
.buttons{
    float:right;
}
.components{
    justify-content: center;
}
.cards{
    width: 90%;
}
