.button{
    width:200px;
    height:30px;
    background-color: #28a745;
}
body{
  display: flex;
  flex-direction: column;
}
table, th, td {
  border: 1px solid;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    text-align: center;
    margin: auto;
    width: 50%;
    height: 50%;
    overflow: auto;
    background-color: gray; 
  }
  .modal_body {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 10px;
    border: 1px solid #888;
    width: 80%; 
    text-align: center;
  }
    .modal_header h2 {
        margin: 0;
        display: inline;
      }
      
      .modal_header {
        padding: 2%;
        color: #fff;
        background-color: #00abb1;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
      .close{
        color: white;
      }
      .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
.error input{
    border-color: red;
}
small{
    color: red;
}
.success input{
    border-color: green;
}
