body{
    margin: 0%;
    padding: 0%;
}
.block{
    display: flex;
    margin: auto;
    margin-top: 25%;
    width: 70%;
    justify-content: center;
    background-color: brown;
}
.form_area{
    margin: auto;
}