body{
    background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/47/79/VOwWvI.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    margin: 150px 100px 100px 100px;
    padding:0px;
}
#inputs{
    align-items: center;
    box-sizing: border-box;
    border-radius: 20px;
    border-width: 5px;
}
*{
    box-sizing: border-box;
}
.login{
    width: 500px;
    background:white; 
    border-radius: 10px;
    width: 600px;
    height: 350px;
    display: flex;
    flex-direction: row;
}
.pic{
    height: 100px;
    width: 100px;
}
.data{
    
}