body{
    background-color:brown;
    margin-top: 8%;
}
.third_page{
    margin-top: 10%;
   
}

.third_page_main_div{
        height: 97%;
        width: 70%;
        background-color:brown;
        margin-left: 14%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
}

.third_page_div{
    height:175px;
    width: 24%;
    background-color:burlywood;
}



.planing{
    margin-left: 33%;
}

.planing_content{
    font-size: 12px;
    margin-left: 16%;
    margin-top: -4%;
}



.prototyping{
    margin-left: 30%;
}

.prototyping_content{
    font-size: 12px;
    margin-left: 16%;
    margin-top: -4%;
}


.designing{
    margin-left: 40%;
}

.designing_content{
    font-size: 12px;
    margin-left: 30%;
    margin-top: -4%;
}


.product{
    margin-left: 29%;
}

.product_content{
    font-size: 12px;
    margin-left: 16%;
    margin-top: -4%;
}

i{
    margin-left: 45%;
    margin-top: 3%;
}

.con{
    margin-left: 38%;
    font-size: 40px;
}